<ul class="nav navbar-nav navbar-right">
  <!-- not sign in-->
  <li class="" *ngIf="!isLoggedIn()">
    <a [routerLink]="['/auth/signin']">Sign in</a>
  </li>

  <!-- sign in -->
  <li class="dropdown" *ngIf="isLoggedIn()">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
      role="button" aria-haspopup="true" aria-expanded="false">
      {{ tag }}<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/auth/logout']" (click)="logout()">Logout</a></li>
      <li><a [routerLink]="['/profile']" (click)="updateCurPeople()">My Profile</a></li>

      <li role="separator" class="divider"
        *ngIf="authBookOpt() || authBookTrans()"></li>

      <li><a [routerLink]="['/book-opt/add']"
        *ngIf="authBookOpt()">Book Operation</a></li>
      <li><a [routerLink]="['/trans']"
        *ngIf="authBookTrans()">Book Transaction</a></li>

      <li role="separator" class="divider"
        *ngIf="authManage()"></li>
      <li><a  [routerLink]="['/manage']"
        *ngIf="authManage()">People Management</a></li>
      <li><a  [routerLink]="['/auth/signup']"
        *ngIf="authManage()">New Account</a></li>
    </ul>
  </li>

</ul>
