<ul class="nav navbar-nav navbar-right">
  <!-- not sign in-->
  <li class="" *ngIf="!isLoggedIn()">
    <a [routerLink]="['/auth/signin']">Sign in</a>
  </li>

  <!-- sign in -->
  <li class="dropdown" *ngIf="isLoggedIn()">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ status.uname }}({{ status.auth }})<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/auth/logout']">Logout</a></li>
      <li><a [routerLink]="['/profile']">Profile</a></li>
      
      <li role="separator" class="divider"
        *ngIf="isLib() || isAdmin()"></li>

      <li><a [routerLink]="['/book-opt/add']"
        *ngIf="isLib() || isAdmin()">Books</a></li>
      <li><a [routerLink]="['/trans/borrow']"
        *ngIf="isLib() || isAdmin()">Borrow</a></li>
      <li><a [routerLink]="['/trans/return']"
        *ngIf="isLib() || isAdmin()">Return</a></li>
      
      <li role="separator" class="divider"
        *ngIf="isLib() || isAdmin()"></li>
      
      <li><a *ngIf="isAdmin()">Librarian</a></li>

      <li><a *ngIf="isLib() || isAdmin()">Member</a></li>
    </ul>
  </li>

</ul>
