<div class="container">
  <form [formGroup]="returnForm"
    (ngSubmit)="onSubmit()">

    <div class="col-sm-6 col-sm-offset-3 form-group">
      <div class="col-sm-2"><label>Member</label></div>
      <div class="col-sm-6 col-sm-offset-2">
        <select data-live-search="true" class="form-control"
          formControlName="member_id">
          <option *ngFor="let m of members" value="{{m._id}}">{{m.uname}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3  form-group">
      <div class="col-sm-2"><label>Book</label></div>
      <div class="col-sm-6 col-sm-offset-2">
        
        <select data-live-search="true" class="form-control"
          formControlName="book_id">
          <option *ngFor="let b of books" value="{{b._id}}">{{b.title}}</option>
        </select>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-7 col-sm-offset-5">
        <button type="submit" class="btn btn-primary">Return</button>
        <!-- <app-load-data
        (members)="loadMembers($event)"
        (books)="loadBooks($event)"></app-load-data> -->
      </div>
    </div>

  </form>
</div>