/*a {
  color: #00B7FF;
}*/

app-search-book {
    margin: 20px;
}

app-books-list {
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #eee;
}

.footer p {
  text-align: center;
  margin: 20px 0;
}
