<div class="container">
  <form class="form-horizontal"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="inputEmail"
      class="col-sm-2 col-sm-offset-2 control-label">Email</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="inputEmail3"
        placeholder="Email Address" required=""
        [(ngModel)]="cur_people.email"
        formControlName="email">
      </div>
    </div>

    <div class="form-group">
      <label for="inputUsername"
      class="col-sm-2 col-sm-offset-2 control-label">Username</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputUsername"
        placeholder="Username" required=""
        [(ngModel)]="cur_people.uname"
        formControlName="uname">
      </div>
    </div>

    <div class="form-group">
      <label for="inputAuth"
      class="col-sm-2 col-sm-offset-2 control-label">Authentication</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputAuth"
        [(ngModel)]="cur_people.auth"
        formControlName="auth">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <button type="submit" class="btn btn-primary"
        [disabled]="!profileForm.valid">Update</button>
        <button type="submit" class="btn btn-default pull-right"
        [routerLink]="['/home']">Cancel</button>
      </div>
    </div>

  </form>

</div>
